/*Ting Yin*/
/*https://twyin.github.io/Pears/*/

:root {
  --board-color: #ffb8b8;
	--board-border-color: #333;
	--board-text-color: #333;
  --board-text-shadow: #ef9899;
  --board-box-shadow:;

	--cell-size: 26px;
  --cell-pading: 6px;
	--emphasis-color: #fff8f8;
	--page-background-color: #fbe2e7;
  --page-text-background-color: #fff8f8;
  --page-text-color: #333;
}

body {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  margin: 0px 10px 300px 20px; 
  font-family: 'Poiret One', sans-serif;
  /* font-weight: 600; */
  /* large bottom margin willallow user to scroll up a bit*/
  /*score and timer will be shown on the top of the page still*/
}

p.start_msg {
  /*decent alternative fonts: */
  /*font-family: 'Coming Soon', cursive;*/
  /*font-family: 'Montserrat', sans-serif;*/

  background-color: var(--page-text-background-color);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 10px;

  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  /*text-shadow: 0.2px 0.2px #900;*/

	font-size: 20px;
  /*width: 50%;*/
  min-width: 300px;
  max-width: 90%;
  /*line-height: 120%;*/
}

p.topScore {
  font-family: 'Poiret One', sans-serif;
  font-size: 110%;
  font-weight: 700;
  /*text-shadow: 0.5px 0.5px #900;*/

  position: fixed;
  top: 0;
  width: 30%;
  max-width: 300px;
  background-color: var(--emphasis-color);
  box-shadow: var(--cell-pading) var(--cell-pading) var(--board-color);
  overflow: hidden;

  padding:10px;

}

p.topTimer {
  font-family: 'Poiret One', sans-serif;
  font-size: 110%;
  font-weight: 700;
  /*text-shadow: 0.5px 0.5px #900;*/

  position: fixed;
  top: 0;
  width: 25%;
  max-width: 250px;
  margin-left:300px;
  background-color: #ffced9;
  overflow: hidden;

  padding: 10px;
}

pre.title {
	color: var(--board-text-color);
  font-size: 25px;
  font-family: 'Poiret One', sans-serif;
  /*text-shadow: 0.5px 0.5px var(--page-text-color);*/
}

div.board{

  font-family: 'Comfortaa', cursive;
  
  /*font-family: 'Coming Soon', cursive;*/

  font-size: 16px;

  margin-right: 15px;
  padding: 5px;

/*    max-width: 700px;*/

  /*disable selection*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
       -o-user-select: none;
          user-select: none;
  display: inline-flex;
  flex-direction: column;
  flex-content: space-around;



}

div.cell {
	color: var(--board-text-color);
/*  text-shadow: 1px 1px 1px var(--board-text-shadow);*/

  height: var(--cell-size);
  width: var(--cell-size);

  min-width: var(--cell-size);
  min-height: var(--cell-size);
  max-width: var(--cell-size);
  max-height: var(--cell-size);

  padding: var(--cell-pading);
  /*border-collapse: collapse;*/
  border-width: 1px;
  border-radius: 7px;

  display: inline-flex;
  justify-content: center;
  align-items: flex-end;

  margin: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
}

div.pear {
  background-image: url(https://image.flaticon.com/icons/svg/2077/2077181.svg);
}

div.cell--board-1 {
  background-image: url(https://image.flaticon.com/icons/svg/700/700804.svg);
}

div.cell--board-2 {
  background-image: url(https://image.flaticon.com/icons/svg/135/135695.svg);
}

div.cell--board-3 {
  background-image: url(https://image.flaticon.com/icons/svg/721/721238.svg);
}

div.cell--board-4 {
  background-image: url(https://image.flaticon.com/icons/svg/1571/1571196.svg);
}

div.cell--board-5 {
  background-image: url(https://image.flaticon.com/icons/svg/590/590775.svg);
}

div.cell--board-6 {
  background-image: url(https://image.flaticon.com/icons/svg/765/765560.svg);
}

div.cell--board-7 {
  background-image: url(https://image.flaticon.com/icons/svg/1663/1663356.svg);
}

div.cell--board-8 {
  background-image: url(https://image.flaticon.com/icons/svg/2224/2224255.svg);
}

div.cell--board-9 {
  background-image: url(https://image.flaticon.com/icons/svg/1838/1838901.svg);
}

div.cell--board-10 {
  background-image: url(https://image.flaticon.com/icons/svg/928/928143.svg);
}

div.cell--board-11 {
  background-image: url(https://image.flaticon.com/icons/svg/575/575383.svg);
}

div.cell--board-12 {
  background-image: url(https://image.flaticon.com/icons/svg/1515/1515002.svg);
}

div.cell--board-13 {
  background-image: url(https://image.flaticon.com/icons/svg/1135/1135549.svg);
}

div.cell--board-14 {
  background-image: url(https://image.flaticon.com/icons/svg/1135/1135551.svg);
}

div.cell--board-15 {
  background-image: url(https://image.flaticon.com/icons/svg/878/878030.svg);
}

div.cell--board-16 {
  background-image: url(https://image.flaticon.com/icons/svg/2224/2224087.svg);
}

div.cell--board-17 {
  background-image: url(https://image.flaticon.com/icons/svg/1515/1515038.svg);
}

div.cell--board-18 {
  background-image: url(https://image.flaticon.com/icons/svg/1475/1475932.svg);
}

div.cell--board-19 {
  background-image: url(https://image.flaticon.com/icons/svg/765/765538.svg);
}

div.cell--board-20 {
  background-image: url(https://image.flaticon.com/icons/svg/765/765558.svg);
}


div.cell.cell--remove {
  text-align: center;

  text-shadow: 0px 0px var(--page-background-color);

/*  border: 10px #ffffff thin;*/
  border-color: #ffffff;
  border-collapse: collapse;
  border-style: none;
  padding: var(--cell-pading);  /*necessary to account for the extra px*/

  color: var(--page-background-color);
  font-size: 0px;

}

div.cell.cell--obstacle {
  background-image: url(https://image.flaticon.com/icons/svg/826/826895.svg);
  background-color: #d4a996;
}

div.cell.cell--path {
  /*create appearance of paths*/
  padding: 12px;
  margin: 0px;
  border-radius: 0px;
  background-size: contain;
}

div.cell.cell--path.cross {
  background-image: url("../IMG/thin/cross.png");
}

div.cell.cell--path.t {
  background-image: url("../IMG/thin/t.png");
}

div.cell.cell--path.corner {
  background-image: url("../IMG/thin/corner.png");
}

div.rotate90 {
  transform: rotate(90deg);
}
div.rotate180 {
  transform: rotate(180deg);
}
div.rotate270 {
  transform: rotate(270deg);
}

/* only be one element on the grid should be emphasized at a time */
div.cell.cell--emphasis {
	background-color: var(--emphasis-color);
}


div.cell.cell--board:hover {
  /*color: white;*/
  background-color: var(--emphasis-color);
  cursor: pointer;
}

div.cell.cell--obstacle:hover {
  /*color: #ffffff;
  background-color: #ffffff;*/

  pointer-events: none;  /* disable hover effects*/
}

div.row {

  /*border: 1px #ffffff thin;*/
  border-collapse: collapse;
  /*border-style: dashed;*/

  border-width: 1px;
/*  	height: var(--cell-size);
  width: var(--cell-size);
*/
/*    min-width: var(--cell-size);
  min-height: var(--cell-size);
  max-width: var(--cell-size);
  max-height: var(--cell-size);*/

  display: inline-flex;
  /*justify-content: space-around;*/
}

a.icon-credits {
  position: fixed;
  bottom: 2px;
  right: 2px;
}

